@use "../../styles/core/variables" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/mixins" as *;

.advert {
  @include height-width(30px, 100%);
  @include flex(center, center);
  background-color: $primaryText;
  color: whitesmoke;
  font-size: 0.875rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
